<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" (click)="albumDetails()"><mat-icon>info</mat-icon></a>
    </div>
    <mat-card class="example-card">
      <form [formGroup]="albumForm" (ngSubmit)="onFormSubmit()">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Title" formControlName="title"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!albumForm.get('title').valid && albumForm.get('title').touched">Please enter album Title</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Artist" formControlName="artist"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!albumForm.get('artist').valid && albumForm.get('artist').touched">Please enter Artist</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Genre" formControlName="genre"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!albumForm.get('genre').valid && albumForm.get('genre').touched">Please enter Genre</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="YearReleased" formControlName="yearReleased"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!albumForm.get('yearReleased').valid && albumForm.get('yearReleased').touched">Please enter Release Date</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Label" formControlName="label"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!albumForm.get('label').valid && albumForm.get('label').touched">Please enter Record Label</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="catalogNumber" formControlName="catalogNumber"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!albumForm.get('catalogNumber').valid && albumForm.get('catalogNumber').touched">Please enter Catalog Number</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="!albumForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
        </div>
      </form>
    </mat-card>
  </div>
